[report]
exclude_lines =
    pragma: no cover
    except
    if warn_on_update and self.is_update_availabe()
    if sys.platform.startswith('Windows')
    self.process_stream_data = process_stream_data
    self.websocket_base_uri = "
    stream_row_color
    def get(self, statusformat, checkcommandversion=False)
    elif self.ubwa.exchange
    elif self.exchange
    if request_handler.status_code == "
    def redirect_to_wiki
    while len(self.ringbuffer_error) >= self.get_ringbuffer_error_max_size()
    while len(self.ringbuffer_result) >= self.get_ringbuffer_result_max_size()
    if self.stream_list[stream_id]['listen_key'] is not False
    return "unknown"
    < time.time() and (active_stream_list[stream_id]['last_static_ping_listen_key']
