# Changes must also be made in the following files:
# ./environment.yml
# ./meta.yaml
# ./pyproject.toml
# ./setup.py

cheroot
colorama
Cython
flask
flask_restful
lucit-licensing-python
psutil
PySocks
requests
simplejson
ujson
unicorn-fy
unicorn-binance-rest-api
websocket-client
websockets==11.0.3
