# Changes must also be made in the following files:
# ./environment.yml
# ./setup.py
# https://github.com/conda-forge/unicorn-binance-websocket-api-feedstock/blob/main/recipe/meta.yaml

cheroot
colorama
flask
flask_restful
psutil
PySocks
requests
ujson
unicorn-fy
unicorn-binance-rest-api>=1.8.0
websocket-client
websockets==10.4
